body{
    background-color: rgb(243, 243, 245);
}


.align{
    padding: 5px;
    margin-left: 170px;
    background: transparent;
    border: none;
}

button{color: rgb(25, 30, 35);}


button:hover{
    color: rgb(92, 10, 244);
}
