
<body>


<p >
  <mat-toolbar style="background-color: rgb(243, 243, 245);">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button style="border: none;background: transparent;">Dreamy Getaways</button>
  <span class="example-spacer"></span>

  <button class="align" href="#" >Home</button>
  <button class="align" href="#" >Rental</button>
  <button class="align" href="#" >Sales</button>
  <button class="align" href="#" >Login </button>
  
 

</mat-toolbar>
</p>
</body>
